.left{
    width: 50%;
    float: left;

}

.right {
    width: 50%;
    float: right;
}
.picture{
    margin-right: 20px;
    margin-top: 20px;
    margin: 40px;
}
.text{
text-align: center;
color: blueviolet;
margin: 90px;
font-family: myfont;
font-size: xx-large;
font-weight: bolder;
}
.newtext{
    margin: 90px; ;
color: blue;
font-family: myfont;
font-size: larger;

}
@font-face {
    font-family:myfont;
    src: url(IranNastaliq/IranNastaliq.ttf);
}
.red{
   color: red;
font-size: xx-large;
font-family: myfont;
text-align: center;
}